---
component: navbar
---
<div class="metanavigation">
    <ul>
          <li>
            <a href="{{relative page.dest "blog.html"}}">Blog</a>
          </li>
          <li> <a href="https://github.com/upstage/mixins/">GitHub Repo</a> </li>
    </ul>
</div>


