---
component: navbar
---
<nav class="navigation">
    <ul>
          <li{{#is title "Blog"}} class="active"{{/is}}>
            <a href="{{relative page.dest "blog.html"}}">Blog</a>
          </li>
          <li> <a href="https://github.com/upstage/mixins/">GitHub Repo</a> </li>
    </ul>
</nav>


